@font-face {
  font-family: 'MarydaleBlack';
  src: url("../fonts/167D40_0.eot");
  src: url("../fonts/167D40_0.eot?#iefix") format("embedded-opentype"), url("../fonts/167D40_0.woff") format("woff"), url("../fonts/167D40_0.ttf") format("truetype"), url("../fonts/167D40_0.svg#wf") format("svg"); }

html {
	
}

body {
	background: #3A322D;
	font-family: 'TrebuchetMS';
	color: white;
	font-size: 18px;
	
	
}

#form-container {
	padding: 20px;
	
}
h1 {
	font-family: 'MarydaleBlack';
	color: #FAF4E3;
	text-align: center;
	margin: 4px 0;
	font-size: 28px;
	
}

#Form_Form {
	
	border: none;
	
}

#Form_Form fieldset {
	border: none;
	margin: 0;
	
}

fieldset>div {
	
	border-bottom: 1px solid #5e5350;
	margin: 10px 0;
	padding: 10px 0;
	
}

#Form_Form_Thing {
	background: #d3be95;
	color: #2e2c25;
	font-size: 18px;
	
}

#Image { 
	clear: both;

}

#Thing {
	min-height: 35px;
}

#Thing label {
	float: left;
}

#Thing select {
	/*float: left; */
	/*margin-left: 20px;*/
	/*margin-top: -10px;*/
	
}

p a {
	color: #BBA59F;
	font-weight: bold;
	text-decoration: none;
	
}

#Form_Form_action_SubmitAction {
	background: #d3be95;
	color: #2e2c25;
	font-size: 26px;
	display: block;
	margin: auto;
	
}

#Caption textarea {
	width: 100%;
	background: #A09275;
	border: 1px solid #BBA59F;
	font-size: 18px;
	
}

.clear {
	clear: both;
	border: 0;
	margin: 0;
	padding: 0;
	
}

.fb_button {
	display: block;
	margin: auto;
	
}

#fb-container {
	margin: auto;
	width: 140px;
}


/* Most image cropping form stuff here */

.crop-info {
	width: 100%;
	
}

.jcrop-holder {
	float: left;
	
}

.image-crop-container {
	width: 400px;
	float: left;
}

.replace-image-container {
	width: 300px;
	float: left;
	
}

.edit-button, #Form_ReplaceImageForm_action_doReplaceImage {
	display: block;
    padding: 10px;
    background-color: #645855;
    border: 1px solid #bba59f;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 10px 5px;
    min-height: 19px; 
    font-family: "Trebuchet MS";
    color: #ebe2ce;
    font-size: 18px;
   /* width: 100px;*/
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.close-button {
	margin-left: 12px;
	
}

.image-crop-container{
	border: 1px solid #BBA59F;
	border-radius: 5px;
	
}

#Form_ReplaceImageForm {
	margin-left: 10px;
	
}



#Form_ReplaceImageForm fieldset{
	border: none;
	margin:0;
	padding:0;
	width: 100%;
	
}



.edit-button:active {
	background: #847470;
	
}

