#BetterNavigator {display: none;}

body {
    background: $yellow;
    background-size: cover;
}
img {
    max-width: 100%;
}
.top {
    // background: $yellow;
    // background-image: linear-gradient(#FFCD00, #ffdb46);
    width: 100%;
    margin-bottom: 10em;
    padding-top: 2em;
    position: relative;
}
.diagonal {
    position: relative;
}
.diagonal-svg {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 30px;
  left: 0;
}
.test {
    margin-bottom: -5em;
}
.card-img-overlay .card-text {
    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }

}
.card-text {
    position: relative;
}
.card-text a {
    background-color: $yellow;
    color: $black;
    padding-left: 2px;
    padding-right: 2px;
    &:hover, &:focus {
        color: $black;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-columns,
.card-deck {
    counter-reset: a;
}
.card-body {
    padding-left: 65px;
}
.card-img-top + .card-body,
.diagonal + .card-body  {
    padding-left: 1.25rem;
}
.card.bg-dark .card-body {
    padding-left: 0;
}
.card-body:before {
    counter-increment: a;
    content: counter(a);
    position: absolute;
    top: 1.25rem;
    color: $black;
    left: 1.25rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 6px;
    line-height: 1;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-overlay::before {
    content: '';
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card-title {
    position: relative;
}
.card-text p {
    margin-bottom: 0;
}

